# FastAPI and server
fastapi[standard]
uvicorn[standard]
python-multipart

# Pydantic (validation)
pydantic[email]
pydantic-settings

# Database
sqlalchemy
sqlmodel
psycopg2-binary

# Authentication & Security
python-jose[cryptography]
bcrypt

# HTTP clients
httpx
requests

# Google OAuth
google-auth

# Environment variables
python-dotenv
websockets
